
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Produce Software Ltda, producesoftware.cl">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Content/Publico/assets/images/justice-128x128-128x128.png" type="image/x-icon">
    <meta name="description" content="Notificador judicial para encargos a los receptores judiciales, seguimiento en linea de la notificación y registro, informes y cobranza.">
    <title>Notificador Judicial</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/Content/Publico/assets/bootstrap-material-design-font/css/material.css">
    <link rel="stylesheet" href="~/Content/Publico/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/Content/Publico/assets/et-line-font-plugin/style.css">
    <link rel="stylesheet" href="~/Content/Publico/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/Content/Publico/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Publico/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/Content/Publico/assets/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/Content/Publico/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="~/Content/Publico/assets/theme/css/style.css">
    <link rel="stylesheet" href="~/Content/Publico/assets/mobirise/css/mbr-additional.css" type="text/css">
</head>
<body>
    <section id="menu-0">
        <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
            <div class="container">
                <div class="mbr-table">
                    <div class="mbr-table-cell">
                        <div class="navbar-brand">
                            <a href="#" class="mbri-setting mbr-iconfont mbr-iconfont-menu navbar-logo"></a>
                            <a class="navbar-caption" href="#">Gestión Judicial</a>
                        </div>
                    </div>
                    <div class="mbr-table-cell">
                        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="hamburger-icon"></div>
                        </button>
                        <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                            <li class="nav-item dropdown"><a class="nav-link link" href="#slider-0" aria-expanded="false"><span class="mbri-setting3 mbr-iconfont mbr-iconfont-btn"></span>La Empresa</a></li>
                            <li class="nav-item"><a class="nav-link link" href="#features3-3" aria-expanded="false"><span class="mbri-photo mbr-iconfont mbr-iconfont-btn"></span>Noticias</a></li>
                            <li class="nav-item"><a href="@Url.Action("Register","Account")" class="nav-link link" aria-expanded="false"><span class="mbri-credit-card mbr-iconfont mbr-iconfont-btn"></span>Registro</a></li>
                            <li class="nav-item"><a href="@Url.Action("Login","Account")" class="nav-link link" aria-expanded="false"><span class="mbri-credit-card mbr-iconfont mbr-iconfont-btn"></span>Inicia Sesión</a></li></ul>
                            <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                                <div class="close-icon"></div>
                            </button>
                    </div>
                </div>
            </div>
        </nav>
    </section>

    <section class="engine"><a rel="external" href="https://producesoftware.cl">Produce Software Ltda.</a></section><section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow" id="header1-1" style="background-image: url(../Content/Publico/assets/images/background-app-2000x953.jpg);">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
        <div class="mbr-table-cell">
            <div class="container">
                <div class="row">
                    <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
                        <h1 class="mbr-section-title display-1">Bienvenidos<br>Gestión Judicial</h1>
                        <p class="mbr-section-lead lead">Si no estas registrado, hazlo ahora para que puedas acceder a los beneficios de nuestro sistema, si eres abogado o receptor judicial, identificate y realiza tu control de gestión enfocado en tu área.</p>
                        <div class="mbr-section-btn">
                            @Html.ActionLink("Registrarse", "Register", new { controller = "Account" }, new { @class = "btn btn-lg btn-primary" })
                            @Html.ActionLink("Iniciar Sesión", "Login", new { controller = "Account" }, new { @class = "btn btn-lg btn-white" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#slider-0"><i class="mbr-arrow-icon"></i></a></div>
    </section>
    <section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="10000" id="slider-0">
        <div>
            <div>
                <div>
                    <ol class="carousel-indicators">
                        <li data-app-prevent-settings="" data-target="#slider-0" data-slide-to="0" class="active"></li>
                        <li data-app-prevent-settings="" data-target="#slider-0" data-slide-to="1"></li>
                        <li data-app-prevent-settings="" data-target="#slider-0" class="" data-slide-to="2"></li>
                        <li data-app-prevent-settings="" data-target="#slider-0" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active" data-bg-video-slide="false" style="background-image: url(../Content/Publico/assets/images/man-back.jpg);">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 text-xs-center">
                                            <h2 class="mbr-section-title display-1">Nosotros</h2>
                                            <p class="mbr-section-lead lead">Produce Software, es una empresa de profesionales de excelencia dedicados a dar soluciones integrales a sus clientes, de manera óptima, sencilla y de fácil uso.&nbsp;Queremos brindar y realizar las mejores alianzas estratégicas con nuestros clientes para los cuales brindamos asesoría especializada 100% presencial en la toma de requerimientos y/o levantamiento de procesos, para así llegar con una solución integral a su necesidad, dando una solución y entrega de valor agregado a sus proyectos, somos especialistas en asesorías informáticas, desarrollo de proyectos y coach Empresarial.<br><br></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="https://www.youtube.com/watch?v=uNCr7NdOJgw">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-1">
                                            <h2 class="mbr-section-title display-1">NOTIFICADOR</h2>
                                            <p class="mbr-section-lead lead">Una idea innovadora que ayudara a los abogados o estudios de abogados a realizar notificaciones y otro trámite que se requiera y que son encargados a los receptores judiciales, lleva un control de tus encargos y consolida tus pagos y registros de tus trámites. Como receptor judicial, podrás llevar un mejor control de tus gestiones de causas, identificar las "de turno", etc.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url(../Content/Publico/assets/images/sparklers.jpg);">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-3 text-xs-right">
                                            <h2 class="mbr-section-title display-1">Abogados o estudios</h2>
                                            <p class="mbr-section-lead lead">Nuestra plataforma les permitirá a los abogados realizar la gestion y encargo de un trámite en línea a un receptor que estime conveniente, con el cual tengamos convenio y así podrá llevar un control de sus encargos y con una gran ventaja para los cierres de mes en cuanto a control y pago, etc.</p>
                                            <div class="mbr-section-btn"><a class="btn btn-lg btn-info" href="mailto:info@producesoftware.cl">Solicita más información</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url(../Content/Publico/assets/images/mbr-2000x1328.jpg);">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-3 text-xs-right">
                                            <h2 class="mbr-section-title display-1">Receptores Judiciales</h2>
                                            <p class="mbr-section-lead lead">Siendo Receptor Judicial, podrás dentro de otras cosas, realizar control de los tramites y generar evidencias, registrar fechas y tipos de respuestas a los tramites encargados por los abogados o estudios, luego además podrás tener un dashboard con la información en línea de tus actividades, informes de cierre de mes, etc.</p>
                                            <div class="mbr-section-btn"><a class="btn btn-lg btn-info" href="mailto:info@producesoftware.cl">Solicita más información</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-0">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-0">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-3" style="background-color: rgb(255, 255, 255);">

        <div class="mbr-cards-row row">
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><img src="../Content/Publico/assets/images/table.jpg" class="card-img-top"></div>
                        <div class="card-block">
                            <h4 class="card-title">Receptores Judiciales</h4>
                            <h5 class="card-subtitle">La nueva forma de notificar</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac lacus molestie, faucibus justo a, pulvinar urna. Proin congue facilisis dui vitae aliquet. Nulla sagittis tempor justo.</p>
                            <div class="card-btn"><a href="http://www.receptoreschile.cl/" class="btn btn-primary" target="_blank">Más</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><img src="../Content/Publico/assets/images/desktop.jpg" class="card-img-top"></div>
                        <div class="card-block">
                            <h4 class="card-title">Derecho Penal</h4>
                            <h5 class="card-subtitle">Una repasada a lo penal en Chile</h5>
                            <p class="card-text">Pellentesque dictum vestibulum turpis at cursus. Aenean porta, neque non pulvinar faucibus, erat nisi convallis metus, vitae facilisis purus erat non mauris. Donec sed ligula luctus, mollis orci sagittis, interdum augue</p>
                            <div class="card-btn"><a href="https://es.wikipedia.org/wiki/Derecho_penal" class="btn btn-primary" target="_blank">Más</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><img src="../Content/Publico/assets/images/coworkers.jpg" class="card-img-top"></div>
                        <div class="card-block">
                            <h4 class="card-title">Derecho Civil</h4>
                            <h5 class="card-subtitle">Una breve historia de los derechos</h5>
                            <p class="card-text">Nunc id mauris nunc. Quisque tristique tincidunt dignissim. Suspendisse vitae condimentum magna, non aliquet dui. Nunc auctor lacus et ipsum facilisis suscipit.</p>
                            <div class="card-btn"><a href="https://es.wikipedia.org/wiki/Derecho_civil" class="btn btn-primary" target="_blank">Más</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><img src="../Content/Publico/assets/images/code-man.jpg" class="card-img-top"></div>
                        <div class="card-block">
                            <h4 class="card-title">Notas y ayuda</h4>
                            <h5 class="card-subtitle">Podrás encontrar notas y ayuda sobre la APP.</h5>
                            <p class="card-text">Vivamus quam tellus, pharetra ac mauris id, consequat blandit odio. Suspendisse potenti. Pellentesque volutpat tellus dictum augue scelerisque, a volutpat nisl faucibus.</p>
                            <div class="card-btn"><a href="http://www.derecho.uchile.cl/" class="btn btn-primary" target="_blank">Más</a></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <section class="mbr-footer mbr-section mbr-section-md-padding" id="contacts3-5" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

        <div class="row">

            <div class="mbr-company col-xs-12 col-md-6 col-lg-3">
                <div class="mbr-company card">
                    <div><img src="../Content/Publico/assets/images/justice-265x265.png" class="card-img-top"></div>
                    <div class="card-block">
                        <p class="card-text">Gestión Judicial, es un sistema realizado por Produce Software Ltda. y es propietario del proyecto, sus funcionalidades y todo lo que se realice en mejoras para actualizaciones y nuevas ideas, según inscripción N°: 20155523-2017 del año 2017 en el registro nacional de comercio y propiedad intelectual.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="list-group-icon"><span class="etl-icon icon-phone mbr-iconfont-company-contacts3"></span></span>
                            <span class="list-group-text">+569-55206082<br>+569-51282919</span>
                        </li>
                        <li class="list-group-item">
                            <span class="list-group-icon"><span class="etl-icon icon-map-pin mbr-iconfont-company-contacts3"></span></span>
                            <span class="list-group-text">Gayser del Tatio Poniente 02896 - Puente Alto</span>
                        </li>
                        <li class="list-group-item active">
                            <span class="list-group-icon"><span class="etl-icon icon-envelope mbr-iconfont-company-contacts3"></span></span>
                            <span class="list-group-text"><p><a href="mailto:contacto@producesoftware.cl">contacto@producesoftware.cl</a><a href="mailto:info@producesoftware.cl"></a></p></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-6 col-lg-3">
                <h4>Menú</h4>
                <ul><li><a href="index.html#top">La empresa</a><a class="text-white" href="#"></a></li><li><a href="#">Registro</a><a href="#"></a><a class="text-white" href="#"></a></li><br><br></ul>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-6 col-lg-3">
                <p></p><p><strong>Contáctanos</strong><br>Email: contacto@producesoftware.cl<br>Phone: +569-55206082<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; +569-51282919<br><br><br><strong>Dirección</strong><br>Gayser del Tatio Poniente &nbsp;02896<br>Puente Alto</p><p>Santiago - Chile</p><p></p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-6 col-lg-3" data-form-type="formoid">
                <div data-form-alert="true">
                    <p><strong>NewsLetter</strong></p>
                    <div hidden="" data-form-alert-success="true">Muchas gracias, recibiras nuestro Newsletter semanal.</div>
                </div>
                <form action="http://producesoftware.cl/contacto" method="post" data-form-title="Mensaje">
                    <input type="hidden" value="LOTFWFqWgEVlIPYMrcWqTPDPAUhEwIlBPBCXfSktOW+o+cYfLnXLeFbFOcB47UWd4pvmjPeZHANpJRgFlKhRHNtCePFvm8B3+XX2es5VxhQJVfISjDtlx9J0vTnPiEUI" data-form-email="true">

                    <div class="form-group">
                        <label class="form-control-label" for="contacts3-5-email">E-mail<span class="form-asterisk">*</span></label>
                        <input type="email" class="form-control input-sm input-inverse" name="email" required="" data-form-field="Email" id="contacts3-5-email">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="contacts3-5-message">Mensaje</label>
                        <textarea class="form-control input-sm input-inverse" name="message" data-form-field="Message" rows="5" id="contacts3-5-message"></textarea>
                    </div>
                    <div><button type="submit" class="btn btn-sm btn-black">Enviar</button></div>
                </form>
            </div>
        </div>
    </section>
    <section class="mbr-section mbr-section-md-padding" id="social-buttons4-d" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <h3 class="mbr-section-title display-2">Síguenos</h3>
                    <div><a class="btn btn-social" title="Twitter" target="_blank" href="https://twitter.com/renequiroz01"><i class="socicon socicon-twitter"></i></a> <a class="btn btn-social" title="Facebook" target="_blank" href="https://www.facebook.com/ProduceSoftware/"><i class="socicon socicon-facebook"></i></a> <a class="btn btn-social" title="Google+" target="_blank" href="https://plus.google.com/u/0/+Mobirise/posts"><i class="socicon socicon-googleplus"></i></a> <a class="btn btn-social" title="YouTube" target="_blank" href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw"><i class="socicon socicon-youtube"></i></a> <a class="btn btn-social" title="Instagram" target="_blank" href="https://instagram.com/mobirise/"><i class="socicon socicon-instagram"></i></a> <a class="btn btn-social" title="Pinterest" target="_blank" href="https://www.pinterest.com/mobirise/"><i class="socicon socicon-pinterest"></i></a> <a class="btn btn-social" title="Tumblr" target="_blank" href="http://mobirise.tumblr.com/"><i class="socicon socicon-tumblr"></i></a> <a class="btn btn-social" title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/mobirise"><i class="socicon socicon-linkedin"></i></a> <a class="btn btn-social" title="VKontakte" target="_blank" href="#"><i class="socicon socicon-vkontakte"></i></a> <a class="btn btn-social" title="Odnoklassniki" target="_blank" href="#"><i class="socicon socicon-odnoklassniki"></i></a> </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Content/Publico/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/Content/Publico/assets/tether/tether.min.js"></script>
    <script src="~/Content/Publico/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Publico/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="~/Content/Publico/assets/dropdown/js/script.min.js"></script>
    <script src="~/Content/Publico/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
    <script src="~/Content/Publico/assets/viewport-checker/jquery.viewportchecker.js"></script>
    <script src="~/Content/Publico/assets/jarallax/jarallax.js"></script>
    <script src="~/Content/Publico/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/Content/Publico/assets/jquery-mb-ytplayer/jquery.mb.ytplayer.min.js"></script>
    <script src="~/Content/Publico/assets/theme/js/script.js"></script>
    <script src="~/Content/Publico/assets/mobirise-slider-video/script.js"></script>
    <script src="~/Content/Publico/assets/formoid/formoid.min.js"></script>


    <input name="animation" type="hidden">

</body>
</html>
